
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <style>
        html, body {
            margin: 0;
            padding: 0;
        }

        @font-face {
            font-family: 'CartoonShout';
            src: url('./assets/fonts/cartoon-shout/BD_Cartoon_Shout.ttf');
            font-weight: 400;
            font-weight: normal;
        }
    </style>
</head>
<body>
    <div id="game-container"></div>

    <!-- Load the font file -->
    <div style="font-family:'CartoonShout'; position:absolute; left:-1000px; visibility: hidden; opacity: 0;">&nbsp;</div>
</body>
</html>
