
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, viewport-fit=cover">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="<%= htmlWebpackPlugin.options.title %>">

    <!-- iOS Status Bar Options -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <!-- iOS -->
    <link rel="apple-touch-startup-image" href="./assets/icon_64x64.png">
    <link rel="apple-touch-icon" href="./assets/icon_64x64.png">

    <!-- Android -->
    <meta name="mobile-web-app-capable" content="yes">

    <!-- Favicon -->
    <link rel="icon" href="./assets/icon_64x64.png">

    <title><%= htmlWebpackPlugin.options.title %></title>
    <style>
        html, body {
            margin: 0;
            padding: 0;
        }

        @font-face {
            font-family: 'CartoonShout';
            src: url('./assets/fonts/cartoon-shout/BD_Cartoon_Shout.ttf');
            font-weight: 400;
            font-weight: normal;
        }
    </style>
</head>
<body>
    <div id="game-container"></div>

    <!-- Load the font file -->
    <div style="font-family:'CartoonShout'; position:absolute; left:-1000px; visibility: hidden; opacity: 0;">&nbsp;</div>
</body>
</html>
